@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white antialiased;
    min-height: 100vh;
  }
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-6 small:px-14;
  }
  
  .glass {
    @apply bg-black/60 backdrop-blur-md border border-white/10 shadow-xl;
  }
}